jamp.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT jamp (page)>
<!ELEMENT page ANY>
<!ELEMENT gridds (heading?,coloumn?)>
<!ELEMENT heading (heads+)>
<!ELEMENT heads (#PCDATA)>
<!ATTLIST heads
headlabel CDATA #REQUIRED
headcol CDATA #IMPLIED
>
<!ATTLIST gridds
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
tabchar CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
label CDATA #IMPLIED
order (true|false) #IMPLIED
readonly (true|false) #IMPLIED
insertnew (true|false) #IMPLIED
width CDATA #IMPLIED
height CDATA #IMPLIED
cssfile CDATA #IMPLIED
display CDATA #IMPLIED
java CDATA #IMPLIED
pdffont CDATA #IMPLIED
pdffontsize CDATA #IMPLIED
dsobj CDATA #IMPLIED
autoscroll (true|false) #IMPLIED
>
<!ELEMENT coloumn ANY>
<!ATTLIST text
id CDATA #IMPLIED
itemlabel CDATA #IMPLIED
colalign CDATA #IMPLIED
colwidth CDATA #IMPLIED
>
<!ATTLIST dscombo
id CDATA #IMPLIED
itemlabel CDATA #IMPLIED
colalign CDATA #IMPLIED
colwidth CDATA #IMPLIED
>
<!ATTLIST label
id CDATA #IMPLIED
itemlabel CDATA #IMPLIED
colalign CDATA #IMPLIED
colwidth CDATA #IMPLIED
>
<!ATTLIST dsselect
id CDATA #IMPLIED
itemlabel CDATA #IMPLIED
colalign CDATA #IMPLIED
colwidth CDATA #IMPLIED
>
<!ELEMENT a ANY>
<!ATTLIST a
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
charset CDATA #IMPLIED
coords CDATA #IMPLIED
href CDATA #IMPLIED
hreflang CDATA #IMPLIED
name CDATA #IMPLIED
rel CDATA #IMPLIED
rev CDATA #IMPLIED
shape (default|rect|circle|poly) #IMPLIED
target CDATA #IMPLIED
type CDATA #IMPLIED
text CDATA #IMPLIED
label CDATA #IMPLIED
labelalign (left|right) #IMPLIED
labelstyle CDATA #IMPLIED
labelwidth CDATA #IMPLIED
>
<!ELEMENT article ANY>
<!ATTLIST article
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
>
<!ELEMENT aside ANY>
<!ATTLIST aside
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
>
<!ELEMENT br (#PCDATA)>
<!ATTLIST br
id CDATA #REQUIRED
row CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
title CDATA #IMPLIED
>
<!ELEMENT button (#PCDATA)>
<!ATTLIST button
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
name CDATA #IMPLIED
type (button) #IMPLIED
value CDATA #IMPLIED
tabindex CDATA #IMPLIED
size CDATA #IMPLIED
alt CDATA #IMPLIED
src CDATA #IMPLIED
readonly (true|false) #IMPLIED
align (left|center|right) #IMPLIED
accesskey CDATA #IMPLIED
onblur CDATA #IMPLIED
onchange CDATA #IMPLIED
onfocus CDATA #IMPLIED
onselect CDATA #IMPLIED
disabled (true|false) #IMPLIED
label CDATA #IMPLIED
labelalign (left|right) #IMPLIED
labelwidth CDATA #IMPLIED
labelstyle CDATA #IMPLIED
>
<!ELEMENT buttonimg (#PCDATA)>
<!ATTLIST buttonimg
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
name CDATA #IMPLIED
value CDATA #IMPLIED
tabindex CDATA #IMPLIED
alt CDATA #IMPLIED
src CDATA #IMPLIED
readonly (true|false) #IMPLIED
align (left|center|right) #IMPLIED
accesskey CDATA #IMPLIED
onblur CDATA #IMPLIED
onchange CDATA #IMPLIED
onfocus CDATA #IMPLIED
onselect CDATA #IMPLIED
disabled (true|false) #IMPLIED
label CDATA #IMPLIED
labelalign (left|right) #IMPLIED
labelwidth CDATA #IMPLIED
labelstyle CDATA #IMPLIED
>
<!ELEMENT carosel (#PCDATA)>
<!ATTLIST carosel
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
width CDATA #IMPLIED
height CDATA #IMPLIED
name CDATA #IMPLIED
onfocus CDATA #IMPLIED
onselect CDATA #IMPLIED
onblur CDATA #IMPLIED
onchange CDATA #IMPLIED
tabindex CDATA #IMPLIED
align (left|center|right) #IMPLIED
java CDATA #IMPLIED
cssfile CDATA #IMPLIED
dsobj CDATA #IMPLIED
dsitem CDATA #IMPLIED
value CDATA #IMPLIED
speed CDATA #IMPLIED
>
<!ELEMENT checkbox (#PCDATA)>
<!ATTLIST checkbox
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
name CDATA #IMPLIED
value CDATA #IMPLIED
accesskey CDATA #IMPLIED
onfocus CDATA #IMPLIED
onselect CDATA #IMPLIED
onblur CDATA #IMPLIED
onchange CDATA #IMPLIED
tabindex CDATA #IMPLIED
align (left|center|right) #IMPLIED
label CDATA #IMPLIED
labelalign (left|right) #IMPLIED
labelwidth CDATA #IMPLIED
labelstyle CDATA #IMPLIED
check CDATA #IMPLIED
uncheck CDATA #IMPLIED
tristate CDATA #IMPLIED
java CDATA #IMPLIED
cssfile CDATA #IMPLIED
dsobj CDATA #IMPLIED
dsitem CDATA #IMPLIED
readonly (true|false) #IMPLIED
disabled (true|false) #IMPLIED
size CDATA #IMPLIED
checkimage CDATA #IMPLIED
uncheckimage CDATA #IMPLIED
tristateimage CDATA #IMPLIED
>
<!ELEMENT div ANY>
<!ATTLIST div
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
align (left|center|right) #IMPLIED
id CDATA #REQUIRED
value CDATA #IMPLIED
size CDATA #IMPLIED
width CDATA #IMPLIED
height CDATA #IMPLIED
display CDATA #IMPLIED
drag CDATA #IMPLIED
java CDATA #IMPLIED
>
<!ELEMENT divlabel (#PCDATA)>
<!ATTLIST divlabel
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
limit CDATA #IMPLIED
size CDATA #IMPLIED
value CDATA #IMPLIED
align (left|center|right) #IMPLIED
defaultvalue CDATA #IMPLIED
label CDATA #IMPLIED
labelalign (left|right) #IMPLIED
labelwidth CDATA #IMPLIED
labelstyle CDATA #IMPLIED
wrap CDATA #IMPLIED
format CDATA #IMPLIED
java CDATA #IMPLIED
dsobj CDATA #IMPLIED
dsitem CDATA #IMPLIED
dsobjlist CDATA #IMPLIED
dsitemlist CDATA #IMPLIED
dsitemkeylist CDATA #IMPLIED
>
<!ELEMENT dock (#PCDATA)>
<!ATTLIST dock
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
valign (top|bottom) #IMPLIED
align (left|center|right) #IMPLIED
name CDATA #IMPLIED
java CDATA #IMPLIED
cssfile CDATA #IMPLIED
dsobj CDATA #IMPLIED
dsitem CDATA #IMPLIED
dsrel CDATA #IMPLIED
dsrev CDATA #IMPLIED
>
<!ELEMENT ds (#PCDATA)>
<!ATTLIST ds
id CDATA #REQUIRED
debug (true|false) #IMPLIED
out (json|xml.) #IMPLIED
unsetpost CDATA #IMPLIED
focusnew CDATA #IMPLIED
focustabnew CDATA #IMPLIED
dshost CDATA #IMPLIED
dsport CDATA #IMPLIED
dsuser CDATA #IMPLIED
dspwd CDATA #IMPLIED
dsfaillogin CDATA #IMPLIED
faillogin CDATA #IMPLIED
conn CDATA #IMPLIED
store CDATA #IMPLIED
event (none|null) #IMPLIED
xml CDATA #IMPLIED
encpwd (blank|md5) #IMPLIED
printxml (true|false) #IMPLIED
loadall (true|false) #IMPLIED
load (true|false) #IMPLIED
readonly (true|false) #IMPLIED
confirm (true|false) #IMPLIED
objtype CDATA #IMPLIED
selecteditems CDATA #IMPLIED
dsdefault CDATA #IMPLIED
dstable CDATA #IMPLIED
dsorder CDATA #IMPLIED
dswhere CDATA #IMPLIED
dskey CDATA #IMPLIED
dssavetype (table|row|live) #IMPLIED
join CDATA #IMPLIED
joinsave CDATA #IMPLIED
jointype CDATA #IMPLIED
joinrule CDATA #IMPLIED
dslock CDATA #IMPLIED
dsrefresh CDATA #IMPLIED
dsreferences CDATA #IMPLIED
referencestable CDATA #IMPLIED
referenceskey CDATA #IMPLIED
foreignkey CDATA #IMPLIED
deleteoncascate (true|false) #IMPLIED
deleteall (true|false) #IMPLIED
dsengine (filesystem|ldap|record|xml|ssh|mysql) #IMPLIED
dsquery_select CDATA #IMPLIED
dsquery_insert CDATA #IMPLIED
dsquery_update CDATA #IMPLIED
dsquery_delete CDATA #IMPLIED
dsquery_deleteall CDATA #IMPLIED
dsextraquery CDATA #IMPLIED
dslimit CDATA #IMPLIED
action CDATA #IMPLIED
fetch (object|row|assoc|array) #IMPLIED
ghostdata (true|false.) #IMPLIED
sslmode (disable|allow|prefer|require) #IMPLIED
dsparentkey CDATA #IMPLIED
dsname CDATA #IMPLIED
alias CDATA #IMPLIED
base CDATA #IMPLIED
select CDATA #IMPLIED
filter CDATA #IMPLIED
justthese CDATA #IMPLIED
scope (base|onelevel|tree.) #IMPLIED
recname CDATA #IMPLIED
reclength CDATA #IMPLIED
privkeyfile CDATA #IMPLIED
pubkeyfile CDATA #IMPLIED
fieldname CDATA #IMPLIED
fieldseparator CDATA #IMPLIED
fieldencloser CDATA #IMPLIED
fieldescape CDATA #IMPLIED
prefix CDATA #IMPLIED
verbose (1|0) #IMPLIED
gateway CDATA #IMPLIED
carriergateways CDATA #IMPLIED
answerrecipients CDATA #IMPLIED
format CDATA #IMPLIED
unload (true|false.) #IMPLIED
java CDATA #IMPLIED
>
<!ELEMENT dscombo (#PCDATA)>
<!ATTLIST dscombo
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
keypress CDATA #IMPLIED
blur CDATA #IMPLIED
minlength CDATA #IMPLIED
value CDATA #IMPLIED
name CDATA #IMPLIED
size CDATA #IMPLIED
maxlength CDATA #IMPLIED
alt CDATA #IMPLIED
src CDATA #IMPLIED
readonly (true|false) #IMPLIED
refreshall (true|false) #IMPLIED
align (left|center|right) #IMPLIED
accesskey CDATA #IMPLIED
onfocus CDATA #IMPLIED
onselect CDATA #IMPLIED
onblur CDATA #IMPLIED
onchange CDATA #IMPLIED
tabindex CDATA #IMPLIED
dsobj CDATA #IMPLIED
dsitem CDATA #IMPLIED
dsobjlist CDATA #IMPLIED
dsitemlabel CDATA #IMPLIED
dsitemlist CDATA #IMPLIED
dsitemkeylist CDATA #IMPLIED
label CDATA #IMPLIED
labelalign (left|right) #IMPLIED
labelwidth CDATA #IMPLIED
labelstyle CDATA #IMPLIED
dssearch CDATA #IMPLIED
outlabel (true|false) #IMPLIED
java CDATA #IMPLIED
cssfile CDATA #IMPLIED
format CDATA #IMPLIED
>
<!ELEMENT dsnav ANY>
<!ATTLIST dsnav
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
btSave (true|false) #IMPLIED
btNew (true|false) #IMPLIED
btDelete (true|false) #IMPLIED
btNav (true|false) #IMPLIED
btTotal (true|false) #IMPLIED
btCancel (true|false) #IMPLIED
btPage (true|false) #IMPLIED
btReload (true|false) #IMPLIED
btPrint (true|false) #IMPLIED
objprint CDATA #IMPLIED
fnzprint CDATA #IMPLIED
label CDATA #IMPLIED
maxlength CDATA #IMPLIED
size CDATA #IMPLIED
dssearch CDATA #IMPLIED
dssearchrange CDATA #IMPLIED
dsautosearch (true|false) #IMPLIED
dsfullsearch CDATA #IMPLIED
dsobj CDATA #IMPLIED
java CDATA #IMPLIED
cssfile CDATA #IMPLIED
dsitem CDATA #IMPLIED
objtype CDATA #IMPLIED
searchonkeyup (true|false) #IMPLIED
>
<!ELEMENT dsselect (#PCDATA)>
<!ATTLIST dsselect
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
name CDATA #IMPLIED
value CDATA #IMPLIED
minlength CDATA #IMPLIED
blur CDATA #IMPLIED
size CDATA #IMPLIED
tabindex CDATA #IMPLIED
onfocus CDATA #IMPLIED
onselect CDATA #IMPLIED
onblur CDATA #IMPLIED
onchange CDATA #IMPLIED
id CDATA #REQUIRED
dsitemkeylist CDATA #IMPLIED
nav (true|false) #IMPLIED
memory (true|false) #IMPLIED
multiple (true|false) #IMPLIED
dsitemlist CDATA #IMPLIED
dsobjlist CDATA #IMPLIED
directory CDATA #IMPLIED
allselect CDATA #IMPLIED
valuezero (true|false) #IMPLIED
label CDATA #IMPLIED
labelalign (left|right) #IMPLIED
labelwidth CDATA #IMPLIED
labelstyle CDATA #IMPLIED
outlabel (true|false) #IMPLIED
optionvalue CDATA #IMPLIED
optiontext CDATA #IMPLIED
optionselected (true|false) #IMPLIED
optionimage CDATA #IMPLIED
width CDATA #IMPLIED
height CDATA #IMPLIED
java CDATA #IMPLIED
dsobj CDATA #IMPLIED
objtype CDATA #IMPLIED
dsitem CDATA #IMPLIED
disabled (true|false) #IMPLIED
format CDATA #IMPLIED
indexselected CDATA #IMPLIED
dsitemselected CDATA #IMPLIED
>
<!ELEMENT dsselecturl (#PCDATA)>
<!ATTLIST dsselecturl
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
size CDATA #IMPLIED
name CDATA #IMPLIED
minlength CDATA #IMPLIED
blur CDATA #IMPLIED
tabindex CDATA #IMPLIED
onfocus CDATA #IMPLIED
onselect CDATA #IMPLIED
onblur CDATA #IMPLIED
onchange CDATA #IMPLIED
dsitemkeylist CDATA #IMPLIED
nav (true|false) #IMPLIED
memory (true|false) #IMPLIED
multiple (true|false) #IMPLIED
dsitemlist CDATA #IMPLIED
dsobjlist CDATA #IMPLIED
directory CDATA #IMPLIED
allselect CDATA #IMPLIED
valuezero (true|false) #IMPLIED
labelalign (left|right) #IMPLIED
labelwidth CDATA #IMPLIED
labelstyle CDATA #IMPLIED
outlabel (true|false) #IMPLIED
optionvalue CDATA #IMPLIED
optiontext CDATA #IMPLIED
optionselected (true|false) #IMPLIED
optionimage CDATA #IMPLIED
width CDATA #IMPLIED
height CDATA #IMPLIED
java CDATA #IMPLIED
dsobj CDATA #IMPLIED
dsitem CDATA #IMPLIED
disabled (true|false) #IMPLIED
format CDATA #IMPLIED
target CDATA #IMPLIED
action CDATA #IMPLIED
actionparam CDATA #IMPLIED
value CDATA #IMPLIED
align CDATA #IMPLIED
defaultvalue CDATA #IMPLIED
label CDATA #IMPLIED
>
<!ELEMENT editorpdf ANY>
<!ATTLIST editorpdf
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
dsobj CDATA #IMPLIED
cssfile CDATA #IMPLIED
java CDATA #IMPLIED
pageformat (A4) #IMPLIED
orientation (P|L) #IMPLIED
dsitemkey CDATA #IMPLIED
dsitemobject CDATA #IMPLIED
dsitemx CDATA #IMPLIED
dsitemy CDATA #IMPLIED
dsitemwidth CDATA #IMPLIED
dsitemheight CDATA #IMPLIED
dsitemtext CDATA #IMPLIED
dsitemborder CDATA #IMPLIED
dsitemalign CDATA #IMPLIED
dsitemfont CDATA #IMPLIED
dsitemfontsize CDATA #IMPLIED
>
<!ELEMENT fieldset ANY>
<!ATTLIST fieldset
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
legend CDATA #IMPLIED
display CDATA #IMPLIED
width CDATA #IMPLIED
height CDATA #IMPLIED
>
<!ELEMENT footer ANY>
<!ATTLIST footer
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
top CDATA #IMPLIED
value CDATA #IMPLIED
>
<!ELEMENT form ANY>
<!ATTLIST form
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
action CDATA #IMPLIED
method (get|post) #IMPLIED
enctype CDATA #IMPLIED
target CDATA #IMPLIED
accept-charset CDATA #IMPLIED
onreset CDATA #IMPLIED
onsubmit CDATA #IMPLIED
name CDATA #IMPLIED
>
<!ELEMENT graphic ANY>
<!ATTLIST graphic
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
width CDATA #IMPLIED
height CDATA #IMPLIED
src CDATA #IMPLIED
path CDATA #IMPLIED
hide (true|false) #IMPLIED
align (left|center|right) #IMPLIED
alt CDATA #IMPLIED
hspace CDATA #IMPLIED
vspace CDATA #IMPLIED
border CDATA #IMPLIED
href CDATA #IMPLIED
target CDATA #IMPLIED
ismap (true|false) #IMPLIED
longdesc CDATA #IMPLIED
name CDATA #IMPLIED
usemap CDATA #IMPLIED
value CDATA #IMPLIED
java CDATA #IMPLIED
>
<!ELEMENT head ANY>
<!ATTLIST head
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
icon CDATA #IMPLIED
html5 CDATA #IMPLIED
>
<!ELEMENT header ANY>
<!ATTLIST header
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
value CDATA #IMPLIED
>
<!ELEMENT hidden (#PCDATA)>
<!ATTLIST hidden
name CDATA #IMPLIED
id CDATA #REQUIRED
value CDATA #IMPLIED
onchange CDATA #IMPLIED
dsobj CDATA #IMPLIED
dsitem CDATA #IMPLIED
format CDATA #IMPLIED
java CDATA #IMPLIED
>
<!ELEMENT hn ANY>
<!ATTLIST hn
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
type (h1|h2|h3|h4|h5|h6) #IMPLIED
value CDATA #IMPLIED
>
<!ELEMENT hr (#PCDATA)>
<!ATTLIST hr
id CDATA #REQUIRED
align (left|center|right) #IMPLIED
class CDATA #IMPLIED
dir CDATA #IMPLIED
size CDATA #IMPLIED
lang CDATA #IMPLIED
style CDATA #IMPLIED
title CDATA #IMPLIED
width CDATA #IMPLIED
noshade CDATA #IMPLIED
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
>
<!ELEMENT iframe ANY>
<!ATTLIST iframe
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
name CDATA #IMPLIED
src CDATA #IMPLIED
width CDATA #IMPLIED
height CDATA #IMPLIED
frameborder CDATA #IMPLIED
align (left|center|right) #IMPLIED
longdesc CDATA #IMPLIED
marginheight CDATA #IMPLIED
marginwidth CDATA #IMPLIED
scrolling (yes|no|auto) #IMPLIED
>
<!ELEMENT image (#PCDATA)>
<!ATTLIST image
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
readonly (true|false) #IMPLIED
mouseup CDATA #IMPLIED
id CDATA #REQUIRED
maxsize CDATA #IMPLIED
alt CDATA #IMPLIED
height CDATA #IMPLIED
src CDATA #IMPLIED
hspace CDATA #IMPLIED
ismap (true|false) #IMPLIED
longdesc CDATA #IMPLIED
usemap CDATA #IMPLIED
vspace CDATA #IMPLIED
width CDATA #IMPLIED
accesskey CDATA #IMPLIED
onfocus CDATA #IMPLIED
onselect CDATA #IMPLIED
onblur CDATA #IMPLIED
onchange CDATA #IMPLIED
tabindex CDATA #IMPLIED
value CDATA #IMPLIED
directory CDATA #IMPLIED
extension CDATA #IMPLIED
border CDATA #IMPLIED
label CDATA #IMPLIED
labelalign (left|right) #IMPLIED
labelwidth CDATA #IMPLIED
labelstyle CDATA #IMPLIED
java CDATA #IMPLIED
cssfile CDATA #IMPLIED
dsobj CDATA #IMPLIED
dsitem CDATA #IMPLIED
display CDATA #IMPLIED
size CDATA #IMPLIED
dimension CDATA #IMPLIED
forcename CDATA #IMPLIED
createdir CDATA #IMPLIED
backgroundcolor CDATA #IMPLIED
>
<!ELEMENT img (#PCDATA)>
<!ATTLIST img
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
width CDATA #IMPLIED
height CDATA #IMPLIED
align (left|center|right) #IMPLIED
src CDATA #IMPLIED
alt CDATA #IMPLIED
hspace CDATA #IMPLIED
vspace CDATA #IMPLIED
border CDATA #IMPLIED
href CDATA #IMPLIED
target CDATA #IMPLIED
ismap (true|false) #IMPLIED
longdesc CDATA #IMPLIED
name CDATA #IMPLIED
usemap CDATA #IMPLIED
label CDATA #IMPLIED
labelalign (left|right) #IMPLIED
labelstyle CDATA #IMPLIED
labelwidth CDATA #IMPLIED
size CDATA #IMPLIED
>
<!ELEMENT import (#PCDATA)>
<!ATTLIST import
id CDATA #REQUIRED
debug (true|false) #IMPLIED
from CDATA #IMPLIED
to CDATA #IMPLIED
fieldFrom CDATA #IMPLIED
fieldTo CDATA #IMPLIED
format CDATA #IMPLIED
method (bypass|update|error) #IMPLIED
dsobj CDATA #IMPLIED
>
<!ELEMENT include ANY>
<!ATTLIST include
id CDATA #REQUIRED
src CDATA #IMPLIED
render (file) #IMPLIED
>
<!ELEMENT jmenu (#PCDATA)>
<!ATTLIST jmenu
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
dsobj CDATA #IMPLIED
java CDATA #IMPLIED
cssfile CDATA #IMPLIED
dsitem CDATA #IMPLIED
>
<!ELEMENT label (#PCDATA)>
<!ATTLIST label
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
limit CDATA #IMPLIED
size CDATA #IMPLIED
value CDATA #IMPLIED
align (left|center|right) #IMPLIED
defaultvalue CDATA #IMPLIED
label CDATA #IMPLIED
labelalign (left|right) #IMPLIED
labelwidth CDATA #IMPLIED
labelstyle CDATA #IMPLIED
wrap CDATA #IMPLIED
format CDATA #IMPLIED
java CDATA #IMPLIED
dsobj CDATA #IMPLIED
dsitem CDATA #IMPLIED
dsobjlist CDATA #IMPLIED
dsitemlist CDATA #IMPLIED
dsitemkeylist CDATA #IMPLIED
>
<!ELEMENT li ANY>
<!ATTLIST li
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
value CDATA #IMPLIED
href CDATA #IMPLIED
target CDATA #IMPLIED
compact CDATA #IMPLIED
>
<!ELEMENT lightbox ANY>
<!ATTLIST lightbox
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
align (left|center|right) #IMPLIED
id CDATA #REQUIRED
value CDATA #IMPLIED
size CDATA #IMPLIED
width CDATA #IMPLIED
height CDATA #IMPLIED
modal (true|false) #IMPLIED
theme (red|green|blue|gold) #IMPLIED
hideflash (true|false) #IMPLIED
outerborder (true|false) #IMPLIED
resizespeed (1|2|3|4|5|6|7|8|9|10) #IMPLIED
maxopacity CDATA #IMPLIED
navtype (1|2) #IMPLIED
autoresize CDATA #IMPLIED
doanimations (true|false) #IMPLIED
bordersize CDATA #IMPLIED
slideinterval CDATA #IMPLIED
shownavigation (true|false) #IMPLIED
showclose (true|false) #IMPLIED
showdetails (true|false) #IMPLIED
showplaypause (true|false) #IMPLIED
autoend (true|false) #IMPLIED
pauseonnextclick (true|false) #IMPLIED
pauseonprevclick (true|false) #IMPLIED
java CDATA #IMPLIED
cssfile CDATA #IMPLIED
dsobj CDATA #IMPLIED
dsitem CDATA #IMPLIED
>
<!ELEMENT link (#PCDATA)>
<!ATTLIST link
id CDATA #REQUIRED
charset CDATA #IMPLIED
href CDATA #IMPLIED
hreflang CDATA #IMPLIED
media (media|screen|tty|tv|projection|handheld|print|braille|aural|all) #IMPLIED
rel (alternate|appendix|bookmark|chapter|contents|copyright|glossary|help|home|index|next|prev|section|start|stylesheet|subsection) #IMPLIED
rev (alternate|appendix|bookmark|chapter|contents|copyright|glossary|help|home|index|next|prev|section|start|stylesheet|subsection) #IMPLIED
target CDATA #IMPLIED
type CDATA #IMPLIED
>
<!ELEMENT map (#PCDATA)>
<!ATTLIST map
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
libraries CDATA #IMPLIED
address CDATA #IMPLIED
lat CDATA #IMPLIED
lng CDATA #IMPLIED
zoom CDATA #IMPLIED
traffic CDATA #IMPLIED
display CDATA #IMPLIED
marker (true|false.) #IMPLIED
html CDATA #IMPLIED
icon CDATA #IMPLIED
draggable (true|false.) #IMPLIED
dsmarker (true|false) #IMPLIED
route CDATA #IMPLIED
dsobj CDATA #IMPLIED
dsitem CDATA #IMPLIED
java CDATA #IMPLIED
>
<!ELEMENT meta ANY>
<!ATTLIST meta
id CDATA #REQUIRED
name CDATA #IMPLIED
http-equiv CDATA #IMPLIED
content CDATA #IMPLIED
scheme CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
>
<!ELEMENT nav ANY>
<!ATTLIST nav
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
value CDATA #IMPLIED
>
<!ELEMENT note ANY>
<!ATTLIST note
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
align (left|center|right) #IMPLIED
id CDATA #REQUIRED
value CDATA #IMPLIED
size CDATA #IMPLIED
width CDATA #IMPLIED
height CDATA #IMPLIED
display CDATA #IMPLIED
cssfile CDATA #IMPLIED
java CDATA #IMPLIED
>
<!ELEMENT object ANY>
<!ATTLIST object
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
type CDATA #IMPLIED
align (left|right|top|bottom) #IMPLIED
archive CDATA #IMPLIED
border CDATA #IMPLIED
classid CDATA #IMPLIED
codebase CDATA #IMPLIED
codetype CDATA #IMPLIED
data CDATA #IMPLIED
declare CDATA #IMPLIED
height CDATA #IMPLIED
width CDATA #IMPLIED
hspace CDATA #IMPLIED
name CDATA #IMPLIED
standby CDATA #IMPLIED
usemap CDATA #IMPLIED
vspace CDATA #IMPLIED
>
<!ELEMENT ol ANY>
<!ATTLIST ol
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
type (1|a|A|i|I) #IMPLIED
compact CDATA #IMPLIED
start CDATA #IMPLIED
>
<!ELEMENT p ANY>
<!ATTLIST p
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
value CDATA #IMPLIED
>
<!ATTLIST page
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
onload CDATA #IMPLIED
loaddata (true|false) #IMPLIED
out (html|pdf|text) #IMPLIED
icon CDATA #IMPLIED
alink CDATA #IMPLIED
background CDATA #IMPLIED
bgcolor CDATA #IMPLIED
leftmargin CDATA #IMPLIED
link CDATA #IMPLIED
marginheight CDATA #IMPLIED
marginwidth CDATA #IMPLIED
onunload CDATA #IMPLIED
text CDATA #IMPLIED
topmargin CDATA #IMPLIED
vlink CDATA #IMPLIED
keepalive CDATA #IMPLIED
keepaliveurl CDATA #IMPLIED
java CDATA #IMPLIED
forwardrequest CDATA #IMPLIED
cssfile CDATA #IMPLIED
pageformat (A3|A4|A5|Letter|Legal) #IMPLIED
orientation (L|P) #IMPLIED
pdfname CDATA #IMPLIED
destination (I|D|F|S) #IMPLIED
compressjs (true|false) #IMPLIED
hideloader (true|false) #IMPLIED
hidehtmlerror (true|false) #IMPLIED
hidejserror (true|false) #IMPLIED
hidexmlerror (true|false) #IMPLIED
ajax CDATA #IMPLIED
>
<!ELEMENT pagination ANY>
<!ATTLIST pagination
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
java CDATA #IMPLIED
cssfile CDATA #IMPLIED
dsobj CDATA #IMPLIED
dsitem CDATA #IMPLIED
blockpage CDATA #IMPLIED
>
<!ELEMENT param (#PCDATA)>
<!ATTLIST param
id CDATA #REQUIRED
name CDATA #IMPLIED
type CDATA #IMPLIED
value CDATA #IMPLIED
valuetype (data|ref|object) #IMPLIED
>
<!ELEMENT progressbar (#PCDATA)>
<!ATTLIST progressbar
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
percent CDATA #IMPLIED
width CDATA #IMPLIED
label CDATA #IMPLIED
java CDATA #IMPLIED
cssfile CDATA #IMPLIED
dsobj CDATA #IMPLIED
dsitem CDATA #IMPLIED
>
<!ELEMENT radio (#PCDATA)>
<!ATTLIST radio
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
accesskey CDATA #IMPLIED
onfocus CDATA #IMPLIED
onselect CDATA #IMPLIED
onblur CDATA #IMPLIED
onchange CDATA #IMPLIED
tabindex CDATA #IMPLIED
align (left|center|right) #IMPLIED
name CDATA #IMPLIED
value CDATA #IMPLIED
checked (true|false) #IMPLIED
label CDATA #IMPLIED
labelalign (left|right) #IMPLIED
labelwidth CDATA #IMPLIED
labelstyle CDATA #IMPLIED
java CDATA #IMPLIED
cssfile CDATA #IMPLIED
dsobj CDATA #IMPLIED
dsitem CDATA #IMPLIED
readonly (true|false) #IMPLIED
disabled (true|false) #IMPLIED
size CDATA #IMPLIED
>
<!ELEMENT script (#PCDATA)>
<!ATTLIST script
id CDATA #REQUIRED
charset CDATA #IMPLIED
src CDATA #IMPLIED
type CDATA #IMPLIED
language CDATA #IMPLIED
value CDATA #IMPLIED
cssfile CDATA #IMPLIED
>
<!ELEMENT section ANY>
<!ATTLIST section
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
>
<!ELEMENT sms ANY>
<!ATTLIST sms
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
java CDATA #IMPLIED
cssfile CDATA #IMPLIED
lbOAdC CDATA #IMPLIED
>
<!ELEMENT span ANY>
<!ATTLIST span
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
align (left|center|right) #IMPLIED
id CDATA #REQUIRED
value CDATA #IMPLIED
size CDATA #IMPLIED
width CDATA #IMPLIED
height CDATA #IMPLIED
display CDATA #IMPLIED
java CDATA #IMPLIED
>
<!ELEMENT splitbar (#PCDATA)>
<!ATTLIST splitbar
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
size CDATA #IMPLIED
type (horizontal|vertical) #IMPLIED
java CDATA #IMPLIED
cssfile CDATA #IMPLIED
>
<!ELEMENT style (#PCDATA)>
<!ATTLIST style
id CDATA #REQUIRED
type CDATA #IMPLIED
media (media) #IMPLIED
dir (rtl) #IMPLIED
lang CDATA #IMPLIED
title CDATA #IMPLIED
value CDATA #IMPLIED
>
<!ELEMENT tab ANY>
<!ATTLIST tab
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
align (left|center|right) #IMPLIED
id CDATA #REQUIRED
label CDATA #IMPLIED
display CDATA #IMPLIED
tabs CDATA #IMPLIED
>
<!ELEMENT table ANY>
<!ATTLIST table
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
width CDATA #IMPLIED
height CDATA #IMPLIED
cellspacing CDATA #IMPLIED
border CDATA #IMPLIED
cellpadding CDATA #IMPLIED
align (left|center|right) #IMPLIED
bgcolor CDATA #IMPLIED
frame (void|above|below|hsides|vsides|lhs|rhs|box|border) #IMPLIED
id CDATA #REQUIRED
background CDATA #IMPLIED
rules (none|groups|rows|cols|all) #IMPLIED
summary CDATA #IMPLIED
caption CDATA #IMPLIED
>
<!ELEMENT tabs ANY>
<!ATTLIST tabs
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
tabs CDATA #IMPLIED
height CDATA #IMPLIED
width CDATA #IMPLIED
tabswidth CDATA #IMPLIED
align (left|center|right) #IMPLIED
selected CDATA #IMPLIED
java CDATA #IMPLIED
cssfile CDATA #IMPLIED
>
<!ELEMENT tbody ANY>
<!ATTLIST tbody
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
align (left|center|right) #IMPLIED
bgcolor CDATA #IMPLIED
char CDATA #IMPLIED
charoff CDATA #IMPLIED
>
<!ELEMENT td ANY>
<!ATTLIST td
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
width CDATA #IMPLIED
colspan CDATA #IMPLIED
height CDATA #IMPLIED
rowspan CDATA #IMPLIED
align (left|center|right) #IMPLIED
valign (baseline|bottom|center|top) #IMPLIED
bgcolor CDATA #IMPLIED
background CDATA #IMPLIED
nowrap (true|false) #IMPLIED
abbr CDATA #IMPLIED
axis CDATA #IMPLIED
char CDATA #IMPLIED
charoff CDATA #IMPLIED
headers CDATA #IMPLIED
scope (row|col|rowgroup|colgroup) #IMPLIED
>
<!ELEMENT text (#PCDATA)>
<!ATTLIST text
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
keypress CDATA #IMPLIED
blur CDATA #IMPLIED
send CDATA #IMPLIED
minlength CDATA #IMPLIED
name CDATA #IMPLIED
value CDATA #IMPLIED
defaultvalue CDATA #IMPLIED
size CDATA #IMPLIED
maxlength CDATA #IMPLIED
alt CDATA #IMPLIED
src CDATA #IMPLIED
align (left|center|right) #IMPLIED
accesskey CDATA #IMPLIED
onfocus CDATA #IMPLIED
onselect CDATA #IMPLIED
onblur CDATA #IMPLIED
onchange CDATA #IMPLIED
tabindex CDATA #IMPLIED
id CDATA #REQUIRED
password (true|false) #IMPLIED
fileupload (true|false) #IMPLIED
rewrite (true|false|rename) #IMPLIED
target CDATA #IMPLIED
directory CDATA #IMPLIED
dsobj CDATA #IMPLIED
label CDATA #IMPLIED
labelalign (left|right) #IMPLIED
labelwidth CDATA #IMPLIED
labelstyle CDATA #IMPLIED
calendar (true|false.) #IMPLIED
csscalendar CDATA #IMPLIED
classcalendar CDATA #IMPLIED
format CDATA #IMPLIED
java CDATA #IMPLIED
cssfile CDATA #IMPLIED
dsitem CDATA #IMPLIED
disabled (true|false) #IMPLIED
readonly (true|false) #IMPLIED
dsobjlist CDATA #IMPLIED
dsitemlist CDATA #IMPLIED
dssearch CDATA #IMPLIED
minsearch CDATA #IMPLIED
savesearch CDATA #IMPLIED
forcename CDATA #IMPLIED
dimension CDATA #IMPLIED
createdir CDATA #IMPLIED
backgroundcolor CDATA #IMPLIED
width CDATA #IMPLIED
height CDATA #IMPLIED
autocomplete CDATA #IMPLIED
autofocus CDATA #IMPLIED
form CDATA #IMPLIED
formaction CDATA #IMPLIED
formenctype CDATA #IMPLIED
formmethod CDATA #IMPLIED
formnovalidate CDATA #IMPLIED
formtarget CDATA #IMPLIED
list CDATA #IMPLIED
max CDATA #IMPLIED
min CDATA #IMPLIED
multiple CDATA #IMPLIED
pattern CDATA #IMPLIED
placeholder CDATA #IMPLIED
required CDATA #IMPLIED
step CDATA #IMPLIED
>
<!ELEMENT textarea (#PCDATA)>
<!ATTLIST textarea
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
name CDATA #IMPLIED
cols CDATA #IMPLIED
rows CDATA #IMPLIED
alt CDATA #IMPLIED
src CDATA #IMPLIED
accesskey CDATA #IMPLIED
onfocus CDATA #IMPLIED
onselect CDATA #IMPLIED
onblur CDATA #IMPLIED
onchange CDATA #IMPLIED
tabindex CDATA #IMPLIED
value CDATA #IMPLIED
defaultvalue CDATA #IMPLIED
width CDATA #IMPLIED
height CDATA #IMPLIED
label CDATA #IMPLIED
labelalign (left|right) #IMPLIED
labelwidth CDATA #IMPLIED
labelstyle CDATA #IMPLIED
java CDATA #IMPLIED
dsobj CDATA #IMPLIED
dsitem CDATA #IMPLIED
display CDATA #IMPLIED
keypress CDATA #IMPLIED
blur CDATA #IMPLIED
send CDATA #IMPLIED
format CDATA #IMPLIED
minlength CDATA #IMPLIED
maxlength CDATA #IMPLIED
disabled (true|false) #IMPLIED
readonly (true|false) #IMPLIED
editor-web (true|false) #IMPLIED
w3c CDATA #IMPLIED
editor-file CDATA #IMPLIED
editor-lang (csharp|css|generic|html|java|javascript|perl|ruby|php|text|sql|vbscript|jamp) #IMPLIED
>
<!ELEMENT tfoot ANY>
<!ATTLIST tfoot
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
align (left|center|right) #IMPLIED
valign (baseline|bottom|center|top) #IMPLIED
bgcolor CDATA #IMPLIED
char CDATA #IMPLIED
charoff CDATA #IMPLIED
>
<!ELEMENT th ANY>
<!ATTLIST th
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
width CDATA #IMPLIED
colspan CDATA #IMPLIED
height CDATA #IMPLIED
rowspan CDATA #IMPLIED
align (left|center|right) #IMPLIED
valign (baseline|bottom|center|top) #IMPLIED
bgcolor CDATA #IMPLIED
nowrap (true|false) #IMPLIED
abbr CDATA #IMPLIED
axis CDATA #IMPLIED
char CDATA #IMPLIED
charoff CDATA #IMPLIED
headers CDATA #IMPLIED
scope (row|col|rowgroup|colgroup) #IMPLIED
>
<!ELEMENT thead ANY>
<!ATTLIST thead
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
align (left|center|right) #IMPLIED
valign (baseline|bottom|center|top) #IMPLIED
bgcolor CDATA #IMPLIED
char CDATA #IMPLIED
charoff CDATA #IMPLIED
>
<!ELEMENT toolbar (#PCDATA)>
<!ATTLIST toolbar
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
cellspacing CDATA #IMPLIED
cellpadding CDATA #IMPLIED
border CDATA #IMPLIED
java CDATA #IMPLIED
cssfile CDATA #IMPLIED
dsobj CDATA #IMPLIED
dsitem CDATA #IMPLIED
>
<!ELEMENT tr ANY>
<!ATTLIST tr
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
align (left|center|right) #IMPLIED
valign (baseline|bottom|center|top) #IMPLIED
bgcolor CDATA #IMPLIED
char CDATA #IMPLIED
charoff CDATA #IMPLIED
>
<!ELEMENT tree (#PCDATA)>
<!ATTLIST tree
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
width CDATA #IMPLIED
height CDATA #IMPLIED
target CDATA #IMPLIED
name CDATA #IMPLIED
id CDATA #REQUIRED
value CDATA #IMPLIED
onchange CDATA #IMPLIED
refresh (tree|branche|always) #IMPLIED
dragable (true|false) #IMPLIED
checkbox (dualstate|tristate|none) #IMPLIED
oncontextmenu (true|false) #IMPLIED
menuname CDATA #IMPLIED
menufunction CDATA #IMPLIED
menufilter CDATA #IMPLIED
dslink CDATA #IMPLIED
dsorder CDATA #IMPLIED
dsicon CDATA #IMPLIED
dsnochild CDATA #IMPLIED
dsdragable CDATA #IMPLIED
dscheckstate CDATA #IMPLIED
java CDATA #IMPLIED
cssfile CDATA #IMPLIED
dsobj CDATA #IMPLIED
dsitem CDATA #IMPLIED
nav (true|false) #IMPLIED
objtype CDATA #IMPLIED
>
<!ELEMENT txtresize (#PCDATA)>
<!ATTLIST txtresize
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
java CDATA #IMPLIED
cssfile CDATA #IMPLIED
>
<!ELEMENT ul ANY>
<!ATTLIST ul
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
type (desc|square|circle) #IMPLIED
compact CDATA #IMPLIED
value CDATA #IMPLIED
>
<!ELEMENT url (#PCDATA)>
<!ATTLIST url
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
target CDATA #IMPLIED
action CDATA #IMPLIED
actionparam CDATA #IMPLIED
size CDATA #IMPLIED
value CDATA #IMPLIED
align (left|center|right) #IMPLIED
defaultvalue CDATA #IMPLIED
label CDATA #IMPLIED
labelalign (left|right) #IMPLIED
labelwidth CDATA #IMPLIED
labelstyle CDATA #IMPLIED
wrap CDATA #IMPLIED
format CDATA #IMPLIED
java CDATA #IMPLIED
dsobj CDATA #IMPLIED
dsitem CDATA #IMPLIED
directory CDATA #IMPLIED
>
<!ELEMENT video (#PCDATA)>
<!ATTLIST video
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
src CDATA #IMPLIED
width CDATA #IMPLIED
height CDATA #IMPLIED
autoplay (true|false) #IMPLIED
controls CDATA #IMPLIED
wmode CDATA #IMPLIED
loop CDATA #IMPLIED
console CDATA #IMPLIED
nojava CDATA #IMPLIED
allowfullscreen (true|false) #IMPLIED
showdigits (true|false) #IMPLIED
player CDATA #IMPLIED
allowsciptaccess (true|false) #IMPLIED
quality (true|false) #IMPLIED
name CDATA #IMPLIED
accesskey CDATA #IMPLIED
dsobj CDATA #IMPLIED
dsitem CDATA #IMPLIED
java CDATA #IMPLIED
>
<!ELEMENT viewxls (#PCDATA)>
<!ATTLIST viewxls
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
align (left|center|right) #IMPLIED
id CDATA #REQUIRED
value CDATA #IMPLIED
size CDATA #IMPLIED
width CDATA #IMPLIED
src CDATA #IMPLIED
height CDATA #IMPLIED
cssfile CDATA #IMPLIED
>
<!ELEMENT window ANY>
<!ATTLIST window
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
display CDATA #IMPLIED
align (left|center|right|justify) #IMPLIED
id CDATA #REQUIRED
value CDATA #IMPLIED
width CDATA #IMPLIED
height CDATA #IMPLIED
duration CDATA #IMPLIED
alg (default|sin|cos) #IMPLIED
expanded (true|false|none) #IMPLIED
label CDATA #IMPLIED
java CDATA #IMPLIED
type (vertical|horizontal) #IMPLIED
cssfile CDATA #IMPLIED
>
<!ELEMENT xgridds ANY>
<!ATTLIST xgridds
debug (true|false) #IMPLIED
onclick CDATA #IMPLIED
ondblclick CDATA #IMPLIED
onmousedown CDATA #IMPLIED
onmouseup CDATA #IMPLIED
onmouseover CDATA #IMPLIED
onmousemove CDATA #IMPLIED
onmouseout CDATA #IMPLIED
onkeypress CDATA #IMPLIED
onkeydown CDATA #IMPLIED
onkeyup CDATA #IMPLIED
class CDATA #IMPLIED
style CDATA #IMPLIED
lang CDATA #IMPLIED
dir CDATA #IMPLIED
template CDATA #IMPLIED
title CDATA #IMPLIED
id CDATA #REQUIRED
readonly (true|false) #IMPLIED
width CDATA #IMPLIED
height CDATA #IMPLIED
background CDATA #IMPLIED
scrollbar CDATA #IMPLIED
pdffont CDATA #IMPLIED
pdffontsize CDATA #IMPLIED
dsobj CDATA #IMPLIED
java CDATA #IMPLIED
cssfile CDATA #IMPLIED
cellheight CDATA #IMPLIED
>
